<div class="exchange-container">
  <h2 class="exchange-title">Exchange</h2>

  <div class="converter-card">
    <h3>Conversor de moedas</h3>
    <p>Digite o valor e escolha as moedas de conversão</p>

    <div class="input-group to">
      <input
        type="number"
        [ngModel]="state.amount()"
        (ngModelChange)="consumer.onAmountChange($event)"
        class="amount-input"
      />

      <select
        [ngModel]="state.fromCurrency()"
        (ngModelChange)="consumer.onFromCurrencyChange($event)"
      >
        <option
          *ngFor="let currency of state.currencies()"
          [value]="currency.code"
        >
          {{ getFlagEmoji(currency.code) }} {{ currency.code }}
        </option>
      </select>
    </div>

    <button
      aria-label="Inverter conversor de moedas"
      type="button"
      class="invert-button"
      (click)="consumer.invertCurrencies()"
    >
      ⇅
    </button>

    <div class="input-group to">
      <input
        type="text"
        [ngClass]="{ shimmer: state.isLoading() }"
        [value]="state.isLoading() ? '' : (state.result() | number : '1.2-2')"
        readonly
        class="amount-input"
      />

      <select
        [ngModel]="state.toCurrency()"
        (ngModelChange)="consumer.onToCurrencyChange($event)"
      >
        <option
          *ngFor="let currency of state.currencies()"
          [value]="currency.code"
        >
          {{ getFlagEmoji(currency.code) }} {{ currency.code }}
        </option>
      </select>
    </div>
  </div>
</div>
